# ------ Python ------
**/__pycache__
**/.venv
**/venv
poetry.toml

# ------ Build dirs ------
/staticfiles
/media

# ------ Docker ------
**/.dockerignore
**/Dockerfile*

# ------ Git ------
**/.gitignore

# ------ Config/secret ------
**/.env*
shallwe_core/envconfig/envconstants.py
